@media screen and (max-width: 640px) {
  .global-header-wrapper {
    padding: 14px 16px;
  }

  .global-header-pc-nav-primary {
    display: none;
  }

  .global-header-secondary-row {
    display: none;
  }

  .global-header-logo-wrapper {
    width: 100%;
    height: inherit;

    &::before {
      display: none;
    }

    .global-header-logo {
      display: block;
      width: 72px;
      margin: 0 auto;
    }
  }
}
